@{
    ViewBag.Title = "Parents Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" id="content">
    <div class="banner" id="Cover"><img src="~/Content/img/photos/final/GWCC_yard.jpg" /></div>
    <div id="ParentsInfo" class="col-lg-12 text-block">
        <h2>For Parents and Carergivers</h2>
        <br />
        <span><i>What you need to know</i></span>
        <p>	To be filled with Content... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <br />

        <span><i>What's on</i></span>
        <p>	To be filled with Content... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <br />

        <span><i>Forms / Polices</i></span>
        <table>
            <tr>
                <td><a href="~/Content/PolicyAndForm/Child_Protection_Policy.pdf" target="_blank"><label>Child Protection Policy:</label><br /><img src="~/Content/img/icons/GWCC Child Icon v2.1.png" /></a></td>
                <td><a href="~/Content/PolicyAndForm/Privacy_Policy_Statement_for_families.pdf" target="_blank"><label>Privacy Policy Statement for families:</label><br /><img src="~/Content/img/icons/GWCC Health v2 Icon copy.png" /></a></td>
                <td><a href="~/Content/PolicyAndForm/Rights of the Child Policy V1.pdf" target="_blank"><label>Rights of the Child Policy:</label><br /><img src="~/Content/img/icons/GWCC Meds Icon v2.1.png" /></a></td>
                <td><a href="~/Content/PolicyAndForm/Guiding_Childrens_Behaviour.pdf" target="_blank"><label>Guiding Childrens Behaviour:</label><br /><img src="~/Content/img/icons/GWCC Health Icon v2.1 copy.png" /></a></td>
            </tr>

            <tr>
                <td><a href="~/Content/PolicyAndForm/Grievance_Handling_Policy.pdf" target="_blank"><label>Grievance Handling Policy:</label><br /><img src="~/Content/img/icons/GWCC Grievance policy Icon v5.png" /></a></td>
                <td><a href="~/Content/PolicyAndForm/Notification of Changes.pdf" target="_blank"><label>Notification of Changes:</label><br /><img src="~/Content/img/icons/GWCC Health Icon v2.1 copy.png" /></a></td>
                <td><a href="~/Content/PolicyAndForm/Waiting List Application 2018.pdf" target="_blank"><label>Waiting List Application 2018:</label><br /><img src="~/Content/img/icons/GWCC Fees Icon v2.0.png" /></a></td>
            </tr>
            <tr>
                <td><a href="~/Content/PolicyAndForm/Late_Fee_Policy.pdf" target="_blank"><label>Late Fee Policy:</label><br /><img src="~/Content/img/icons/GWCC Late Fees Icon v2.0.png" /></a></td>
                <td><a href="~/Content/PolicyAndForm/Fees_Policy.pdf" target="_blank"><label>Fees Policy:</label><br /><img src="~/Content/img/icons/GWCC Fees Icon v2.0.png" /></a></td>
                <td><a href="~/Content/PolicyAndForm/Enrolment Form.pdf" target="_blank"><label>Enrolment Form:</label><br /><img src="~/Content/img/icons/GWCC Fees policy Icon v2.0.png" /></a></td>
            </tr>
        </table>
    </div>
</div>