body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: #3c7893;*/
    background: #f6f6f6;
    /*rbg(00a8f3);*/
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*header*/

.navbar {
    background: rgba(255, 255, 255, 0.85);
    /*min-height: 150px;
    max-height: 200px;*/
    border: 0px;
    padding-left: 20%;
    padding-right: 20%;
}

.navbar-inverse .navbar-brand:hover {
    color: #05a8f3;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #05a8f3;
    font-weight: bold;
}
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.85);
    min-width: 160px;
    width: calc(100% + 20px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


    .dropdown-content a:hover {
        /*background-color: #E1E1E1;
opacity: 0.7;*/
        color: #05a8f3;
        font-weight: bold;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /*background-color: #3e8e41;*/
}

/*body*/

body {
    padding: 0px;
}

footer {
    padding-left: 20%;
    padding-right: 20%;
}

#GGWCLogo {
    /*width:30%;
    max-width:250px;*/
}

.container {
    max-width: none;
}

/*.banner {
    width: 200px;
    height: 150px*/
/* min-height: 200px;
    width: 50%;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}
    /*.banner {
    position: absolute;
    top: 0;
}*/
.banner img {
    /*width: 400px;
    height: 300px;*/
    width: 100%;
    /*margin: -350px -200px -550px 0px;*/
}

#content {
    /*position: relative;
    margin-top: 600px;*/
    text-align: center;
}

.rowContent {
    padding-left: 20%;
    padding-right: 20%;
}

.rowLight {
    background-color: #f6f6f6;
}

.rowBlue {
    background-color: #3c7893;
}

.rowYellow {
    background-color: #e8df02;
}

#iconLinks img {
    margin: auto;
    padding: 10px;
    width: 80%;
}

#roomsLinks img {
    margin: auto;
    padding: 10px;
    width: 80%;
}

/*About Us*/

#About p {
    text-align: justify;
}

#About li {
    text-align: left;
}

/*History*/

#History p {
    text-align: justify;
}

/*ParentsInfo*/
#ParentsInfo table {
    margin-left: auto;
    margin-right: auto;
}

#ParentsInfo p {
    text-align: justify;
}

#ParentsInfo img {
    width: 40%;
}

