@{
    ViewBag.Title = "Governance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" id="content">
    <div class="banner" id="Cover"><img src="~/Content/img/photos/final/Yard.jpg" /></div>
    <div id="Governance" class="col-lg-12 text-block">
        <h2>GREY WARD’S<br/>
        MANAGEMENT COMMITTEE</h2>

            <span>
                <i>
                    What is it?
                </i>
            </span>
            <p>
            The Management Committee is the Centre’s governing body which is legally responsible for all aspects of the Centre. It is comprised of office bearers – Chairperson, Treasurer, Secretary plus staff representatives and general members.
            </P>
            <span>
                <i>
                    Who’s on it?
                </i>
            </span><p>

    Grey Ward Children’s Centre Management Committee consists of the director, 2 staff representatives eg. 1 from Kindy and 1 from Long Day Care, and no more than 8 parent volunteers. Any parent is welcome to join the committee.
</p>
        
    <span>
        <i>
            What do they do?
        </i>
    </span>
        <p>

            Members meet on a regular basis for approximately 1-2 hours on the third Wednesday of every month. The day is negotiable and dependent on the needs of the particular group at the time. During these meetings all topics are discussed, including staffing issues, finance, maintenance, purchases, and curriculum development. The Committee will make any decisions necessary for the best interests of the Centre.
        </p>

            <span>
                <i>
                    How do you become part of it?
                </i>
            </span>
        <p>

            Staff are voted in by their colleagues annually, the director is automatically appointed and parents are nominated by other parents/staff/themselves and voted in at the AGM. No previous experience is required, just enthusiasm and commitment.
        </p>
    </div>
</div>