@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="banner" class="col-lg-12" style="padding-left:0px;padding-right:0px;" id="Cover"><img src="~/Content/img/Photos/20180727_073240.jpg" style="width: 100%;" /></div>
    <div id="About">
        <div class="col-lg-12 rowLight">
            <br />
            <h2>Welcome to Grey Ward Children's Centre</h2>
            <br />
        </div>
    </div>
</div>
<div class="row rowDark hidden">
    <div id="services">
        <div class="col-lg-4">
            <div class="circle center-block"><img id="TranIcon" src="~/Content/img/TrainTrans.png" /></div>
            <h3>Train Control and Telecommunications,<br /> National Train Control Systems</h3>
            <p>
                ICE unit Configuration<br />
                Configuration control and support<br />
                Software / Hardware testing and deployment<br />
                NTCS operational Training
            </p>
        </div>
        <div class="col-lg-4">
            <div class="circle center-block"><img id="TechIcon" src="~/Content/img/TechnologyTrans.png" /></div>
            <h3>Integrated Technology Solutions for Business</h3>
            <p>improvements and strategic planning</p>
            Infrastructure Management<br />
            Project Management<br />
            Change Management<br />
            Website development</p>
        </div>

        <div class="col-lg-4">
            <div class="circle center-block"><img id="DroneIcon" src="~/Content/img/DroneTrans.png" /></div>
            <h3>Drone Photography</h3>
            <p>
                Video compilation<br />
                Promotional Videos<br />
                Infrastructure inspections
            </p>
        </div>
    </div>
</div>
<div class="row rowLight">
    <div class="col-lg-12" id="Contact">
        <h3>Contact us</h3>
        <center>
            <span>
                HA11 Consulting Pty Ltd<br />
                <b>P:</b> 0417 819 405<br />
                <b>E:</b> <a href="mailto:John@ha11.com.au" target="_top">John@ha11.com.au</a><br />
                <br />
                ABN 35 618 474 203
            </span>
        </center>
    </div>
</div>

<script>
    var imgCount = 0;
    setInterval(function () {
        console.log(imgCount%4);
        imgCount++;
        switch (imgCount % 4) {
            case 0:
                $(".banner img").attr("src", "/Content/img/Photos/20180727_073155.jpg");
                break;
            case 1:
                $(".banner img").attr("src", "/Content/img/Photos/20180727_073231.jpg");
                break;
            case 2:
                $(".banner img").attr("src", "/Content/img/Photos/20180727_073513.jpg");
                break;
            case 3:
                $(".banner img").attr("src", "/Content/img/Photos/20180727_073240.jpg");
                break;
        }
    }, 3000);
</script>