@{
    ViewBag.Title = "Our Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" id="content">
    <div class="banner" id="Cover"><img src="~/Content/img/photos/final/gardenGrass.jpg" /></div>
    <div id="Team" class="col-lg-12 text-block">
        <h2>Our Team</h2>
        <h3>Management</h3>
        <table>
            <tr>
                <td>
                    <div class="container">
                        <img src="~/Content/img/icons/OurTeam/Debbie.gif" alt="Avatar">
                        <p><span>Debbie</span>- DIRECTOR</p>
                        <p>
                            Director since 2016, hold a Diploma of Children’s Services from TafeSA and a Bachelor of Early Childhood Degree from UniSA.<br /><br />
                            <i>“I started at the Centre in 2006 as a Team leader in babies before becoming the Pre-school Teacher and remained in that role until the resignation of the previous director in 2015. I thoroughly enjoy educating children and also assisting educators and families with their needs. My role as a director is varied which keeps my days exciting and challenging! I enjoy reading, gardening, walks, holidays and anything relaxing. I usually spend my weekends very busy and come to work for a rest.. ha ha!”</i>
                        </p>
                    </div>
                </td>
                <td>
                    <div class="container">
                        <img src="~/Content/img/icons/OurTeam/Lisa1.gif" alt="Avatar">
                        <p><span>Lisa</span>- ADMIN</p>
                        <p>
                            Lisa joined the Centre in 2015, is a master of Myob, Excel, Spike and exceptional phone and interpersonal skills and welcomes everyone with a happy smile.<br /><br />
                            <i>
                                “I have worked in finance, HR, admin my whole working career. Prior to starting here I ran my own business for 15+ years assisting other small businesses to manage their admin and finances.
                                I enjoy going on holidays, reading and spending time with my family and friends”
                            </i>
                        </p>
                    </div>
                </td>

            </tr>
        </table>
        <h3>BABIES</h3>
        <table>
            <tr>
                <td>
                    <div class="container">
                        <img src="~/Content/img/icons/Testimonials/Fairy-Flowers-2.gif" alt="Avatar">
                        <p><span>Chelsea</span>- Team Leader</p>
                        <p>
                            Team Leader works Mon-Fri and holds a Diploma of Children’s Services from Tafe SA.<br /><br />
                            <i>
                                “I worked in hospitality for 2 years before studying my Diploma through TafeSA. I joined the Centre as a relief educator for 12 months before accepting a Full Time role alongside Jess.
                                I love travelling with my boyfriend. We have currently been to 18 different countries and hoping to add to this number this year!”
                            </i>
                        </p>
                    </div>
                </td>
                <td>
                    <div class="container">
                        <img src="~/Content/img/icons/Testimonials/Fairy-Flowers-2.gif" alt="Avatar">
                        <p><span>Jessica</span>- Team Leader</p>
                        <p>
                            Team Leader works Mon-Fri and holds a Diploma of Children’s Services from TafeSA.<br /><br />
                            <i>
                                “I worked relief at a few different child care centres while gaining my qualification. During my work placement I was offered full time at another centre but gained a Team Leader position at this Centre.
                                I enjoy a good cup of coffee while catching up with my family and friends and spending quality time with my husband, Chris and our two fur babies!”
                            </i>
                        </p>
                    </div>
                </td>
            </tr>
        </table>
        <h3>NURSERY</h3>
        <table>
            <tr>
                <td>
                    <div class="container">
                        <img src="~/Content/img/icons/Testimonials/Fairy-Flowers-2.gif" alt="Avatar">
                        <p><span>Cara</span>- Team Leader</p>
                        <p>
                            Team Leader works Mon-Fri and holds a Diploma of Children’s Services from Southbank Institute of Technology.<br /><br />
                            <i>
                                “I moved to Adelaide from the sunny State of Queensland in 2013 with over 8 years of experience
                                working in early childhood settings. I started at Grey Ward Children’s Centre during 2013 in the Nursery room and continue to enjoy this age group.
                                I enjoy spending time at the beach and taking holiday overseas”.
                            </i>
                        </p>
                    </div>
                </td>
                <td>
                    <div class="container">
                        <img src="~/Content/img/icons/Testimonials/Fairy-Flowers-2.gif" alt="Avatar">
                        <p><span>Siobhan</span></p>
                        <p>
                            Works Mon-Wed and holds a Bachelor in Early Childhood Degree from UniSA.<br /><br />
                            <i>
                                “I have worked in early childhood settings for over 14 years. I started at Grey Ward Children’s Centre in 2007, having various roles in all rooms as a permanent Educator. I currently share the role of Lead Educator with Cara."
                            </i>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="container">
                        <img src="~/Content/img/icons/Testimonials/Fairy-Flowers-2.gif" alt="Avatar">
                        <p><span>Clyde</span></p>
                        <p>
                            Clyde has Cert 3 in Children’s Services from TafeSA and almost completed Diploma of Children’s Services from TafeSA.<br /><br />
                            <i>
                                “I began working as a relief educator in all rooms in 2017 and accepted a permanent 2 days per week in the Nursery room in 2018.
                                “I like spending time with family and friends”
                            </i>
                        </p>
                    </div>
                </td>
                <td>
                    <div class="container">
                        <img src="~/Content/img/icons/Testimonials/Fairy-Flowers-2.gif" alt="Avatar">
                        <p><span>Ali</span></p>
                        <p>
                            Ali has Cert 3 in Children’s Services from TafeSA.<br /><br />
                            <i>
                                “I have worked at Grey Ward Children’s Centre since 2001. I have held a variety of different positions and enjoy the flexibility of changing roles and rooms.
                                I love fitness, travelling overseas and going out with friends and family”
                            </i>
                        </p>
                    </div>
                </td>
            </tr>
        </table>
        <h3>JUNIOR KINDY</h3>
        <table>
            <tr>
                <td>
                    <div class="container">
                        <img src="~/Content/img/icons/Testimonials/Fairy-Flowers-2.gif" alt="Avatar">
                        <p><span>Andrea</span>- Team Leader</p>
                        <p>
                            Team Leader works Mon-Fri and holds a Diploma Children's Services 2009 and Certificate 3 in Montessori Education 2013. <br /><br />
                            <i>
                                “I started working in Early Childhood Education in 1987. I have held many different work experiences over 32 years including working in Child Care Services, as a Nanny in the UK for 3 years - and in a Montessori Early Education setting. I have been part of the fabulous team at Grey Ward Children's Centre since 2013. I enjoy spending time with friends, travel and exercise, reading and renovating my little house!”
                            </i>
                        </p>
                    </div>
                </td>
                <td>
                    <div class="container">
                        <img src="~/Content/img/icons/Testimonials/Fairy-Flowers-2.gif" alt="Avatar">
                        <p><span>Suzi</span></p>
                        <p>
                            Suzi holds a Diploma of Children’s Services and an overseas teaching qualification.<br /><br />
                            <i>
                                “I started working at Grey Ward Children’s Centre in 2010 as a relief before working in the Nursery room for 7 years. I am now enjoying the challenges of creating an engaging curriculum and working with a different age group.

                                “I enjoy holidaying and visiting family overseas with my husband and two daughters”
                            </i>
                        </p>
                    </div>
                </td>
            </tr>
        </table>
        <h3>KINDY</h3>
        <table>
            <tr>
                <td>
                    <div class="container">
                        <img src="~/Content/img/icons/Testimonials/Fairy-Flowers-2.gif" alt="Avatar">
                        <p><span>Selina</span></p>
                        <p>
                            Selina holds a Bachelor of early Childhood from UniSA.<br /><br />
                            <i>
                                “I had previously worked in schools, kindergartens and child care centres before joining the Grey Ward team in 2014 as the Kindergarten teacher.
                                “I love using my creativity to renovate my house and enjoy seeing different cultural experiences”
                            </i>
                        </p>
                    </div>
                </td>
                <td>
                    <div class="container">
                        <img src="~/Content/img/icons/Testimonials/Fairy-Flowers-2.gif" alt="Avatar">
                        <p><span>Beatriz</span></p>
                        <p>
                            Beatriz has completed a Diploma of Early Childhood Education and Care from Tafe SA and has an overseas teaching qualification specialising in languages and has completed Kids Yoga training.<br /><br />
                            <i>
                                “I have worked at different Centres including Lady Gowrie and Montessori before accepting a permanent position at Grey Ward.
                                I love going to the gym, climbing Mt Lofty, watching movies, travelling to Spain to visit my family and to different places around the world”
                            </i>
                        </p>
                    </div>
                </td>
            </tr>
        </table>
        <h3>RELIEF STAFF</h3>
        <table>
            <tr>
                <td>
                    <div class="container">
                        <img src="~/Content/img/icons/Testimonials/Fairy-Flowers-2.gif" alt="Avatar">
                        <p><span>Lynda</span></p>
                        <p>
                            Lynda works across all rooms and holds a Diploma Children’s Services 2004.<br /><br />
                            <i>
                                “I have worked at Grey Ward Children's Centre since 2004. First 4 years as one of the Baby Room Team Leaders. Part of the Relief Team since that time, working across all 4 rooms.
                                I love spending time with friends and family, especially my grandchildren and my 2 cats 'allow' us to live at their home in Aldgate! I practise Transcendental Meditation, which is part of the way I relax. As a lover of all animals, I choose a vegetarian diet. My husband and I enjoy our ever evolving garden; it is so rewarding taking part in the seasons this way. I am a lover of many kinds of music so often attend events such as Womad, Fringe shows/concerts etc”.
                            </i>
                        </p>
                    </div>
                </td>
            </tr>
        </table>
        <h3>COOKS</h3>
        <table>
            <tr>
                <td>
                    <div class="container">
                        <img src="~/Content/img/icons/OurTeam/Cook.gif" alt="Avatar">
                        <p><span>Dee</span> - COOK</p>
                        <p>
                            Dee caters for children’s nutrition and allergies, works 5 mornings a week. <br /><br />
                            <i>
                                “I have worked 11 years as the head cook at Taco Bills Mexican restaurant, followed by 5 years in the school canteen catering for children from primary to year 10.
                                I love everything about Xmas and Pokemon and gaming. Working with children with different health needs can be a challenge but I enjoy the positive feedback from the children and families”
                            </i>
                        </p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>