body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding: 0px;
    background-color: #f6f6f6 !important;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
/* Set padding to keep content from hitting the edges */


#bootstrap-overrides-nav a {
    color: white;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*header*/

.navbar,
#bootstrap-overrides-nav {
    background: rgba(71, 124, 127, 0.85);
    border: 0px;
    padding-left: 20%;
    padding-right: 20%;
    margin-left: 0px;
    margin-right: 0px;
}

#GGWCLogo {
    width: 200px;
}

#navbar-content {
    max-width: 980px;
    margin: auto;
}

#navbar-header span {
    position: absolute;
    padding-left:30px;
    bottom: 0;
    font-size: 16px;
}

#navbar-header span header {
    font-size: 26px;
}

.navbar-inverse .navbar-brand:hover {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    font-weight: bold;
} 
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a{
    font-size: 18px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(71, 124, 127, 0.85);
    min-width: 220px;
    width: calc(100% + 20px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    color: #fff;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.text-block {
    margin-top: -200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    padding: 20px;
    border-radius: 25px;
    background-color: #fff;
}

.container {
    max-width: none;
    margin-left: auto !important;
    margin-right: auto !important;
}


.banner img {
    width: 100%;
}

#content {
    text-align: center;
}

/*About Us*/

#About p {
    text-align: justify;
}

#About li {
    text-align: left;
}

/*History*/

#History p {
    text-align: justify;
}

/*ParentsInfo*/
#ParentsInfo table {
    margin-left: auto;
    margin-right: auto;
}

#ParentsInfo p {
    text-align: justify;
}

#ParentsInfo img {
    width: 30%;
}

/* Useful links */
#UsefulLinks {
    padding: 20px;
}

#UsefulLinks .centered-container {
    /*background-color: #F6F6F6;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    max-width: 300px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
}

.link {
    color: teal;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 20px;
}

.link:hover {
    text-decoration: none;
}

#UsefulLinks .centered-container:hover {
    background-color: #f6f6f6;
}

.link--arrowed {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
}

.link--arrowed .arrow-icon {
    position: relative;
    top: -1px;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    vertical-align: middle;
}

.link--arrowed .arrow-icon--circle {
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}

.link--arrowed:hover .arrow-icon {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
}

.link--arrowed:hover .arrow-icon--circle {
    stroke-dashoffset: 0;
}


#UsefulLinks td {
    padding: 10px;
    height: 100px;
}

/*Rooms*/
#Rooms td {
    padding: 10px;
}
#Rooms p {
    text-align: justify;
}
/*ContactUs*/
#ContactUs h3 {
    text-align: justify;
}

#ContactUs .feedback h3 {
    text-align: center;
}

#ContactUs p {
    text-align: justify;
}


#ContactUs td {
    vertical-align: top;
    align-content: center;
    padding: 20px;
}

#ContactUs iframe {
    height: 300px;
    width: 450px;
}

.mapouter {
    text-align: right;
    height: 300px;
    width: 450px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 450px;
}


/* Footer */

footer {
    margin-top: 40px;
}

#footer-content {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

footer span {
    text-decoration: none;
    padding-bottom: 20px;
    font-weight: bold;
}

footer a {
    color: teal;
}

footer ul {
    width: 250px;
    padding-left: 20px;
    list-style-type: none;
}

footer a:hover {
    color: teal;
}